@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    grid-template-areas:
      "logo socials"
      "links copyright";
  }
  .copyright {
    grid-area: copyright;
  }

  .logo {
    grid-area: logo;
  }

  .socials {
    grid-area: socials;
    justify-self: end;
  }

  .links {
    grid-area: links;
    justify-self: start;

  }
}
